{% extends 'cleaner/base.html' %}
{% load static %}

{% block head_extra %}
    <title>{{file.upload.name}}</title>
    <!-- Link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'cleaner/css/file_detail_styles.css' %}">
    <!-- Link to Handsontable library -->
    <link href="https://cdn.jsdelivr.net/npm/handsontable@10.0.0/dist/handsontable.full.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@10.0.0/dist/handsontable.full.min.js"></script>
{% endblock %}

{% block content %}
    <div id="content-container">
        <!-- Jumbotron -->
        <div class="jumbotron" style="height: 80px;display: flex;flex-direction: column;justify-content: center;">
            <h1 class="display-4" style="font-family: 'Montserrat'; font-weight: bold; font-size: 1.5rem; text-align: center;">{{ file.name|default:file_name }}</h1>
            <p class="lead" style="font-size: 1rem; text-align: cfenter;">View and Manipulate Your File Below</p>
            
            <div class="btn-container">
                <!-- Rename Button -->
                <a class="btn btn-primary" href="{% url 'cleaner:rename_file' pk=file.pk %}">Rename</a>
                <!-- Download button -->
                <a href="{% url 'cleaner:download_files' file_name=file_path %}" class="btn btn-primary">Download Excel File</a>
                <!-- Save Button -->
                <!--<a id="saveButton" class="btn btn-success">Save Changes</a>-->
            </div>
        </div>

        <!-- Data Table -->
        <div class="table-wrapper">
            <div id="hot">{{ df | escapejs }}</div>
            
        </div>
    </div>
    <script>
        var data = JSON.parse('{{ df |escapejs }}');
        var headers = data[0]
        var actualData = data.slice(1)

        var container = document.getElementById('hot');
        var hot = new Handsontable(container, {
          data: actualData,
          rowHeaders: true,
          colHeaders: headers,
          filters: true,
          dropdownMenu: true,
          contextMenu: ['row_above', 'row_below', 'col_left', 'col_right', 'remove_row', 'remove_col']
        });
        
        function saveData() {
            var updatedData = hot.getData();
            var headers = hot.getColHeader();
            var dataToSend = {
                'headers': headers,
                'updated_data': updatedData,
                'file_pk': '{{ file.pk }}'
            };

            // Use Ajax to send data to server
            fetch('{% url "cleaner:save_file_content" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log(data.message); // log the message
                } else {
                    alert(data.message); // Alert error message
                }
            });
        }

        document.getElementById("saveButton").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent the default action of the anchor tag
            saveData(); 
        });

        // Save data every 30 secs
        setInterval(saveData, 30000);
    </script>
{% endblock %}