@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

:root {
    --primary-color: #2471FF;
    --secondary-color: #6BB9FF;
    --background-color: #E0EAFF;
    --accent-color-1: #CADBFF;
    --accent-color-2: #9CC5FF;
    --accent-color-3: #292c30;
    --accent-color-4: #073164;
    --danger-color: #860101;
}